.img_Container{
    display: flex;
    width: 75%;
    margin: auto;
}
img{
   
    width: 100px;
    height: 100px;
    
}
.card{
    border:2px solid black;
    padding: 2em;
    margin: 2em;
    width: 20%;
    text-align: center;
}

.green{
    border:2px;
    padding: 4em;
    margin:auto;
    width: 55%;
    background-color: olive;
    color: aliceblue;
    
}
h1{
    text-align: center;
}